<h1>Car details</h1>

<p><strong>Car Color: </strong><%= @car.color %></p>
<p><strong>Registration Number: </strong><%= @car.registration_number %></p>

<%= link_to 'Back', cars_path %> | <td><%= link_to 'Edit', edit_car_path(@car) %></td>
